#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
  line-height: 1;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  background: #141414;
  background: -moz-linear-gradient(top, #333333 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #141414));
  background: -webkit-linear-gradient(top, #333333 0%, #141414 100%);
  background: -o-linear-gradient(top, #333333 0%, #141414 100%);
  background: -ms-linear-gradient(top, #333333 0%, #141414 100%);
  background: linear-gradient(to bottom, #333333 0%, #141414 100%);
  border-bottom: 2px solid #0b648b;
  width: auto;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  background: #141414;
  background: -moz-linear-gradient(top, #333333 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #141414));
  background: -webkit-linear-gradient(top, #333333 0%, #141414 100%);
  background: -o-linear-gradient(top, #333333 0%, #141414 100%);
  background: -ms-linear-gradient(top, #333333 0%, #141414 100%);
  background: linear-gradient(to bottom, #333333 0%, #141414 100%);
  color: #ffffff;
  display: block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  padding: 19px 20px;
  text-decoration: none;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul {
  font-size: 0;
}
#cssmenu > ul > li {
  display: inline-block;
  float: left;
  margin: 0;
}
#cssmenu.align-center {
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
  color: #ffffff;
  font-size: 14px;
}
#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #0b648b;
  margin-left: -10px;
}
#cssmenu > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}
#cssmenu.align-right > ul > li:first-child > a,
#cssmenu.align-center > ul > li:first-child > a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#cssmenu.align-right > ul > li:last-child > a {
  border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
}

#cssmenu > ul > li:hover > a {
  color: #ffffff;
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  background: #070707;
  background: -moz-linear-gradient(top, #262626 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #262626 0%, #070707 100%);
  background: -o-linear-gradient(top, #262626 0%, #070707 100%);
  background: -ms-linear-gradient(top, #262626 0%, #070707 100%);
  background: linear-gradient(to bottom, #262626 0%, #070707 100%);
}
#cssmenu ._has-sub {
  z-index: 1;
}
#cssmenu ._has-sub:hover > ul {
  display: block;
}
#cssmenu ._has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#cssmenu.align-right ._has-sub ul {
  left: auto;
  right: 0;
}
#cssmenu ._has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu ._has-sub ul li a {
  background: #0b648b;
  border-bottom: 1px dotted #0f86ba;
  font-size: 13px;
  filter: none;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #ffffff;
}
#cssmenu ._has-sub ul li:hover a {
  background: #07425c;
}
#cssmenu ul ul li:hover > a {
  color: #ffffff;
}
#cssmenu ._has-sub ._has-sub:hover > ul {
  display: block;
}
#cssmenu ._has-sub ._has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu.align-right ._has-sub ._has-sub ul,
#cssmenu.align-right ul ul ul {
  left: auto;
  right: 100%;
}
#cssmenu ._has-sub ._has-sub ul li a {
  background: #07425c;
  border-bottom: 1px dotted #0f86ba;
}
#cssmenu ._has-sub ._has-sub ul li a:hover {
  background: #053144;
}
#cssmenu ul ul li.last > a,
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul ul li.last > a,
#cssmenu ul ul ul li:last-child > a,
#cssmenu ._has-sub ul li:last-child > a,
#cssmenu ._has-sub ul li.last > a {
  border-bottom: 0;
}





#cssmenu_p {
  width: auto;
  font-family: Roboto, Helvetica, sans-serif;
  text-align: left;
}
#cssmenu_p i {
  margin-right: 5px;
}
#cssmenu_p ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
}
#cssmenu_p ul li {
  position: relative;
  display: block;
}
#cssmenu_p ul li a {
  display: block;
  text-decoration: none;
  position: relative;
}
#cssmenu_p > ul {
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
#cssmenu_p > ul > li:first-child > a {
  border-radius: 3px 3px 0 0;
}
#cssmenu_p > ul > li:last-child > a {
  border-radius: 0 0 3px 3px;
}
#cssmenu_p > ul > li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
#cssmenu_p > ul > li.active > a {
  color: #777;
  background-color: #e6e6e6;
}
#cssmenu_p > ul > li.has-sub > a::after {
  content: '';
  position: absolute;
  display: block;
  border: 5px solid transparent;
  border-top-color: #888;
  right: 15px;
  top: 17px;
  transition: all .25s ease;
  transform-origin: 0 25%;
}
#cssmenu_p > ul > li.has-sub.active > a::after {
  transform: rotateX(180deg);
  border-top-color: #777;
}
#cssmenu_p > ul > li:hover > a::after {
  border-top-color: #777;
}
#cssmenu_p > ul > li > a {
  padding: 12px 15px;
  color: #888;
  transition: all 0.3s ease-out;
  font-size: 14px;
}
#cssmenu_p > ul > li > a:hover {
  color: #777;
  background-color: #e6e6e6;
}
#cssmenu_p ul ul li.active > a {
  background-color: #f2f2f2;
  color: #777;
}
#cssmenu_p ul ul li.has-sub > a::after {
  content: '';
  position: absolute;
  display: block;
  border: 5px solid transparent;
  border-top-color: #888;
  right: 15px;
  top: 15px;
  transition: all .25s ease;
  transform-origin: 0 25%;
}
#cssmenu_p ul ul li.has-sub.active > a::after {
  transform: rotateX(180deg);
  border-top-color: #777;
}
#cssmenu_p ul ul li:hover > a::after {
  border-top-color: #777;
}
#cssmenu_p ul ul li a {
  padding: 10px 15px;
  font-size: 14px;
  color: #888;
  transition: all 0.3s ease-out;
}
#cssmenu_p ul ul li a:hover {
  background-color: #f2f2f2;
  color: #777;
}
#cssmenu_p ul ul ul li a {
  padding-left: 25px;
}





#cssmenu_cli,
#cssmenu_cli ul,
#cssmenu_cli ul li,
#cssmenu_cli ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu_cli {
  width: auto;
  font-family: Raleway, sans-serif;
  color: #ffffff;
  text-align: left;
}
#cssmenu_cli ul ul {
  display: none;
}
#cssmenu_cli > ul > li.active > ul {
  display: block;
}
.align-right {
  float: right;
}
#cssmenu_cli > ul > li > a {
  padding: 16px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background: #222222;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu_cli > ul > li > a:hover {
  color: #0b5394;
}
#cssmenu_cli ul > li.has-sub > a:after {
  position: absolute;
  right: 26px;
  top: 19px;
  z-index: 5;
  display: block;
  height: 10px;
  width: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssmenu_cli ul > li.has-sub > a:before {
  position: absolute;
  right: 22px;
  top: 23px;
  display: block;
  width: 10px;
  height: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssmenu_cli ul > li.has-sub.open > a:after,
#cssmenu_cli ul > li.has-sub.open > a:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cssmenu_cli ul ul li a {
  padding: 14px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  text-decoration: none;
  color: #ddd;
  background: #49505a;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu_cli ul ul ul li a {
  padding-left: 32px;
}
#cssmenu_cli ul ul li a:hover {
  color: #0b5394;
}
#cssmenu_cli ul ul > li.has-sub > a:after {
  top: 16px;
  right: 26px;
  background: #ddd;
}
#cssmenu_cli ul ul > li.has-sub > a:before {
  top: 20px;
  background: #ddd;
}




